<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/jquery/jquery-ui-1.8.2.custom.min.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/jquery/jquery.pagination.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/js/data.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/js/common.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}/javascript/js/index.js"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="{{MEDIA_URL}}/css/jquery-ui-1.8.2.custom.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="{{MEDIA_URL}}/css/common.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="{{MEDIA_URL}}/css/main.css"/>
		<title>考试超市</title>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<div class="logo">
					<h1 class="text">考必过</h1>
				</div>
				<div class="nagviation">
					<div class='item fleft login hidden'>登陆</div>
					<div class='item fleft register'><a href='register.html'>注册</a></div>
					<div class="item fleft user hidden">欢迎你,<a href='myInfo.html'>xing.lin</a></div>
					<div class='item fleft exam'><a href='index.html'>首页</a></div>
					<div class='item fleft exam'><a href='myPublish.html'>我发布的</a></div>
					<div class="item fleft account"><a href='myAccount.html'>我的账户</a></div>
					<div class="item fleft exit"><a href='logout'>退出系统</a></div>
				</div>
			</div><!-- end of header -->
			<div id="content">
			{% block content %}{% endblock %}
			</div><!-- end of content -->
			<div id="footer">
				<div id='footer-container'>
					<a href='aboutUs.html'>关于我们</a> |
					<a href='contactUs.html'>联系我们</a> |
					<a href='help.html'>帮助信息</a> |
					<a href='hr.html'>人才招聘</a>|
					<a href='story.html'>考试的故事</a>
				</div>
			</div><!-- end of footer -->
		</div>
	</body>
</html>
