{% extends 'base.html' %}
{% block content %}
<div class='newMsg'>
	<div class="msgContent"></div>
	</div><!-- end of msg -->
	<div class='publishExam'>
		<div class='publishExamCase fleft'><div class='examCase'></div></div>
		<input type="button" value="发布考试信息" class="button blue fright" />	
	</div>
	<div id='msgsContainer'>
		<div class='options'>
			<h4 class='title'>从结果中查询</h4>
			<div class='content'>
				<div class='fleft item offer'>
					<input type='radio' name='offer' value='1' checked='checked' />供
					<input type='radio' name='offer' value='0' />求
				</div>
				<div id='examDay' class='fleft item'>
					考试时间：<input type='text' /><div id='calendar'></div>
				</div>
				<div class='examAddress fleft item'>
					考试地点：<input type='text' />
				</div>
				<div class='examCourse fleft item'>
					考试科目：<input type='text' />
				</div>
				<div class='search fleft item'>
					<span class="button white">搜索</span>
				</div>
			</div>
		</div><!-- end of options -->
		<div class='msgsContent'></div><!-- end of content -->
		<div class="nav" id="pagination">
			<div class="pagniation"></div>
			<div class="selectPagePer">
				<select>
					<option value="10" selected="selected">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select>
				<span>per page</span>
			</div>
		</div>
	</div><!-- end of msgsContainer -->
	<div id='providers'>
		<div class='top-provider'>
			<h4 class='title'>精英团队</h4>
			<div class='providers-content'></div>
		</div>
		<div class='others-provider'></div>
		<div id='teacherInfoDetails'>
			<div class='content'></div>
		</div>
	</div><!-- end of customers -->
	<div id='examElse'>
		
	</div><!-- end of examElse -->
{% endblock %}