<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="../javascript/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../javascript/jquery/jquery-ui-1.8.2.custom.min.js"></script>
		<script type="text/javascript" src="../javascript/jquery/jquery.pagination.js"></script>
		<script type="text/javascript" src="../javascript/js/data.js"></script>
		<script type="text/javascript" src="../javascript/js/common.js"></script>
		<script type="text/javascript" src="../javascript/js/myAccount.js"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="../css/jquery-ui-1.8.2.custom.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="../css/main.css"/>
		<title>考试超市---账户信息</title>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<div class="logo">
					<h1 class="text">考必过</h1>
				</div>
				<div class="nagviation">
					<div class='item fleft login hidden'>登陆</div>
					<div class='item fleft register hidden'>注册</div>
					<div class="item fleft user">欢迎你,<a href='myInfo.html'>xing.lin</a></div>
					<div class='item fleft exam'><a href='index.html'>首页</a></div>
					<div class='item fleft exam'><a href='myPublish.html'>我发布的</a></div>
					<div class="item fleft account"><a href='myAccount.html'>我的账户</a></div>
					<div class="item fleft exit"><a href='logout'>退出系统</a></div>
				</div>
			</div><!-- end of header -->
			<div id="content">
				<div id="myAccount">
					<h3>我的账户信息</h3>
					<table>
						<tr>
							<td><h4>账户类型：</h4></td>
							<td>
								<span class="accountType"></span>
							</td>
							<td>
								<div class="upgradAccount"></div>
							</td>
						</tr>
						<tr>
							<td>
								<h4>账户余额：</h4>
							</td>
							<td>
								<span>2</span>点
							</td>
							<td>
								<select id="buyAccountNum">
									<option value="5" title="5元" selected="selected">5点</option>
									<option value="10" title="10元">10点</option>
									<option value="20" title="20元">20点</option>
								</select>
								<input id="accountBuyButton" type='button' value='购买5点' onclick="clickBuyButton();" />
								<span class="helpText">1个点对应人民币1元</span>
							</td>
						</tr>
						<tr>
							<td><h4>消费记录</h4></td>
							<td>
								<div class="consumRecords"></div>
							</td>
						</tr>
						<tr>
							<td><h4>充值记录</h4></td>
						</tr>
					</table>
				</div><!-- end of my account -->
			</div><!-- end of content -->
			<div id="payPanel" class="hidden">
				<div class="content">
					<div class="title">
						<div class="ali item">支付宝</div>
						<div class="qq item">财付通</div>
					</div>
					<div id="alipay">
						<form action="" method="post">
							<table>
								<tr>
									<td>支付金额：</td>
									<td><span class="amount" name="amount"></span></td>
								</tr>
								<tr>
									<td>支付宝账号：</td>
									<td><input type="text" name="user" /></td>
								</tr>
								<tr>
									<td>支付密码：</td>
									<td><input type="password" name="password" /></td>
								</tr>
								<tr>
									<td align="right">
										<input type="submit" value="确认提交" />
									</td>
									<td>
										<input type="reset" value="重置" />
									</td>
								</tr>
							</table>
						</form>
					</div>
					<div id="tencent" class="hidden"></div>
				</div>
			</div><!-- end of pay-->
			<div id="footer">
				<div id='footer-container'>
					<a href='aboutUs.html'>关于我们</a> |
					<a href='contactUs.html'>联系我们</a> |
					<a href='help.html'>帮助信息</a> |
					<a href='hr.html'>人才招聘</a>|
					<a href='story.html'>考试的故事</a>
				</div>
			</div><!-- end of footer -->
		</div>
	</body>
</html>